{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": { "browser": true },
  "rules": {
    "react/no-array-index-key": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "no-plusplus": "off",
    "react/prop-types": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off"
  }
}